DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=contracts
POSTGRES_USER=contracts
POSTGRES_PASSWORD=contracts
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
MONGO_URI=mongodb://mongodb:27017
MONGO_DATABASE=contract_processing
AUTH_ENABLED=true
KEYCLOAK_SERVER_URL=http://localhost:8081
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/contract-processing/protocol/openid-connect/certs
KEYCLOAK_REALM=contract-processing
KEYCLOAK_CLIENT_ID=contract-processing-api
DD_SERVICE=contract-processing-django
DD_ENV=local
# SENTRY_DSN=
# DD_API_KEY=
# AZURE_STORAGE_CONNECTION_STRING=
# AZURE_STORAGE_CONTAINER=contract-documents
